* {
  margin: 10px;
}
h1 {
  text-align: center;
}

#forms {
  border: 1px solid brown;
  display: inline-block;
  height: 800px;
  font-size: 2em;
  padding: 5px;
}

#input-name {
  width: 350px;
  height: 20px;
}

#input-email {
  width: 350px;
  height: 20px;
}

button {
  width: 90px;
  height: 30px;
  font-size: 20px;
}
